= form_tag project_compare_index_path(@project), method: :post, class: 'form-inline js-requires-input js-signature-container', data: { 'signatures-path' => signatures_namespace_project_compare_index_path } do
  .form-group.dropdown.compare-form-group.to.js-compare-to-dropdown
    .input-group.inline-input-group
      %span.input-group-prepend
        .input-group-text
          = s_("CompareBranches|Source")
      = hidden_field_tag :to, params[:to]
      = button_tag type: 'button', title: params[:to], class: "btn gl-button form-control compare-dropdown-toggle js-compare-dropdown has-tooltip", required: true, data: { refs_url: refs_project_path(@project), toggle: "dropdown", target: ".js-compare-to-dropdown", selected: params[:to], field_name: :to } do
        .dropdown-toggle-text.str-truncated.monospace.float-left= params[:to] || _("Select branch/tag")
        = sprite_icon('chevron-down', css_class: 'float-right')
    = render 'shared/ref_dropdown'
  .compare-ellipsis.inline ...
  .form-group.dropdown.compare-form-group.from.js-compare-from-dropdown
    .input-group.inline-input-group
      %span.input-group-prepend
        .input-group-text
          = s_("CompareBranches|Target")
      = hidden_field_tag :from, params[:from]
      = button_tag type: 'button', title: params[:from], class: "btn gl-button form-control compare-dropdown-toggle js-compare-dropdown has-tooltip", required: true, data: { refs_url: refs_project_path(@project), toggle: "dropdown", target: ".js-compare-from-dropdown", selected: params[:from], field_name: :from } do
        .dropdown-toggle-text.str-truncated.monospace.float-left= params[:from] || _("Select branch/tag")
        = sprite_icon('chevron-down', css_class: 'float-right')
    = render 'shared/ref_dropdown'
  &nbsp;
  = button_tag s_("CompareBranches|Compare"), class: "btn gl-button btn-success commits-compare-btn"
  - if @merge_request.present?
    = link_to _("View open merge request"), project_merge_request_path(@project, @merge_request), class: 'gl-ml-3 btn'
  - elsif create_mr_button?
    = link_to _("Create merge request"), create_mr_path, class: 'gl-ml-3 btn gl-button'
